@font-face {
    font-family: 'General Sans';
    src: url('fonts/GeneralSans-Regular.woff2') format('woff2'),
         url('fonts/GeneralSans-Regular.woff') format('woff'),
         url('fonts/GeneralSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'General Sans', sans-serif; /* Apply General Sans globally */
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/bgimage.png');
    background-size: cover;
    background-position: center;
}

.login-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Slight dark overlay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

.subtitle {
    color: #FD4F0E;
    font-size: 1.5 rem;
    font: weight 2px;;
    margin-bottom: 2rem;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    width: 320px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.login-btn {
    background-color: #FFD357;
    color: #0094FF;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #e6b800;
}

/* Dashboard Style */

